<h1>Analytics</h1>
<h3>Most Viewed Posts:</h3>
<ul>
  <% @most_viewed_posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %> - <%= post.post_views.count %> views</li>
  <% end %>
</ul>

<h2>Average Reading Time</h2>
<p><%= @average_reading_time %> minute(s)</p>

<h2>Top Performing Tags</h2>
<ul>
  <% @popular_tags.each do |tag| %>
    <li><%= tag.name %> - <%= tag.posts.count %> posts</li>
  <% end %>
</ul>

<h2>Manage Users</h2>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.email %>
      <%= link_to 'Edit', edit_admin_user_path(user) %> |
      <%= link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %> |
      <%= user.admin? ? 'Admin' : 'User' %> <!-- Indicate user role -->
    </li>
  <% end %>
</ul>
<%= link_to 'Back to Dashboard', admin_dashboard_path %>
<%= link_to 'Back to Posts', posts_path %>